@charset "UTF-8";
/* Breakpoints
   ========================================================================== */
/* Font
   ========================================================================== */
/* Color
   ========================================================================== */
/* Padding & Margin
   ========================================================================== */
/* Color
   ========================================================================== */
/* Layout
   ========================================================================== */
/* https://www.icofont.com/
 *  */
/* hidden checkbox
 *  ======================================================*/    
code {
  /* color: #c41a16; */
  margin: 0 5px;
  padding: 1px 5px;
  /* border: 1px solid #ccc; */
  background-color: #eee;
}

.highlight table,
.highlight td,
.highlight tr,
.highlight thead,
.highlight tbody {
  padding: 0;
  border: none;
  color: #4d4d4c;
  text-align: initial;
  overflow-x: auto;
  vertical-align: middle;
}

.highlight,
pre {
  display: block;
  overflow-x: auto;
  padding: 1em;
  background: #f7f7f7;
  font-size: 13px;
  color: #4d4d4c;
  line-height: 1.2;
  padding: 0;
  margin: 0;
}

.highlight .gutter pre {
  color: #666;
  padding-right: 0.5em;
  border-right: 2px solid #e2e1e0;
}

.highlight pre {
  margin: 0;
  padding: 0.25em 0;
}

.highlight .code {
  margin: 0;
  padding: 0.25em 0.5em;
}

.highlight .xml .meta {
  color: silver;
}

.highlight .comment,
.highlight .quote {
  color: #007400;
}

.highlight .attribute,
.highlight .keyword,
.highlight .literal,
.highlight .name,
.highlight .selector-tag,
.highlight .tag {
  color: #aa0d91;
}

.highlight .template-variable,
.highlight .variable {
  color: #3f6e74;
}

.highlight .meta .string,
.highlight .string {
  color: #c41a16;
}

.highlight .link,
.highlight .regexp {
  color: #0e0eff;
}

.highlight .bullet,
.highlight .number,
.highlight .symbol,
.highlight .title {
  color: #1c00cf;
}

.highlight .meta,
.highlight .section {
  color: #643820;
}

.highlight .built_in,
.highlight .class .title,
.highlight .params,
.highlight .title.class_,
.highlight .type {
  color: #5c2699;
}

.highlight .attr {
  color: #836c28;
}

.highlight .subst {
  color: #000;
}

.highlight .formula {
  background-color: #eee;
  font-style: italic;
}

.highlight .addition {
  background-color: #baeeba;
}

.highlight .deletion {
  background-color: #ffc8bd;
}

.highlight .selector-class,
.highlight .selector-id {
  color: #9b703f;
}

/* .doctag,
.strong {
  font-weight: 700;
} */
.highlight .emphasis {
  font-style: italic;
}

/* Header
* ===============================================   */
.nav {
  position: relative;
  min-height: 28px;
  border-bottom: 1px solid #E5E9E5;
}
.nav .nav-meta {
  padding-left: 1rem;
  padding-right: 1rem;
}
.nav .nav-logo {
  display: none;
}
.nav .nav-meta__name {
  font-weight: 500;
  line-height: 28px;
  vertical-align: middle;
}
.nav .nav-meta__desc {
  display: none;
}
.nav #menu-switcher {
  font-family: IcoFont !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  line-height: 1;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  line-height: 1;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: calc((28px - 1em)/2);
}
.nav #menu-checkbox {
  height: 0px;
  width: 0px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
.nav #menu-checkbox ~ .nav-menu {
  display: none;
}
.nav #menu-checkbox:checked ~ .nav-menu {
  display: block;
  border-top: 1px solid #E5E9E5;
}
.nav #menu-checkbox ~ #menu-switcher:before {
  content: "";
}
.nav #menu-checkbox:checked ~ #menu-switcher:before {
  content: "";
}
.nav .nav-menu__list {
  margin: 0 0;
  padding-left: 0;
  padding-right: 0;
  background-color: #393424;
  color: #f7f7f7;
}
.nav .nav-menu__item {
  text-align: center;
}
.nav .nav-menu__item:hover {
  background-color: #ce8a8a;
}
.nav .nav-menu__item a {
  display: block;
  text-transform: uppercase;
  line-height: 2;
  color: inherit;
}
.nav .nav-menu__item [class^=icofont-] {
  display: none;
}

/* Page navigator
* ===============================================   */
.breadcrumb {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  text-align: center;
}
.breadcrumb:after {
  display: block;
  clear: both;
  content: "";
}
.breadcrumb .page-number,
.breadcrumb .extend,
.breadcrumb .space {
  display: inline-block;
  min-width: 2rem;
  text-align: center;
  margin: 0 0.25rem;
  padding: 0.3rem 0.3rem;
  border-radius: 0.25rem;
}
.breadcrumb .page-number,
.breadcrumb .extend {
  border: 1px solid #B4B8B2;
  border-bottom: 2px solid #B4B8B2;
}
.breadcrumb .page-number.current, .breadcrumb .page-number:hover, .breadcrumb .page-number:active,
.breadcrumb .extend.current,
.breadcrumb .extend:hover,
.breadcrumb .extend:active {
  background-image: linear-gradient(transparent, rgba(57, 52, 36, 0.1) 40%, rgba(57, 52, 36, 0.15));
  border-bottom: 2px solid #ce8a8a;
}
.breadcrumb .next {
  float: right;
}
.breadcrumb .prev {
  float: left;
}

/* Footer
* ===============================================   */
.footer {
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid #E5E9E5;
  text-align: center;
  font-size: 95%;
}

/* Posts
* ===============================================   */ 
.post-list .post-item {
  background-color: white;
  padding: 2rem 0;
}
.post-list .post-item:not(:last-child) {
  border-bottom: 1px solid #E5E9E5;
}
.post-list .post-title {
  font-size: 1.5rem;
}
.post-list .post-desc {
  margin-top: 1rem;
  font-size: 1.2rem;
}
.post-list .post-excerpt {
  margin-top: 1rem;
  font-size: 1rem;
}
.post-list .post-meta > * {
  display: inline-block;
  margin-right: 1rem;
}
.post-list .post-meta__date {
  display: inline-block;
  color: #8B8C83;
}
.post-list p {
  margin: 0;
}

/* Sidebar
* ===============================================   */ 
.sidebar {
  display: none;
}

/* search
* ===============================================   */ 
#search-checkbox {
  height: 0px;
  width: 0px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

#search-container {
  display: none;
}

/* Post
* ===============================================   */ 
.post {
  color: #444;
}
.post .post-title {
  font-size: 1.5rem;
}
.post .post-meta i {
  margin-right: 0.1em;
}
.post .post-meta__date {
  display: inline-block;
  margin-right: 1rem;
  color: #8B8C83;
}
.post .post-meta__category > a {
  color: #8B8C83;
  margin-right: 0.25rem;
}
.post .post-meta__tags {
  color: #8B8C83;
}
.post .post-content {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.post img {
  display: block;
  margin: auto;
  max-width: 100%;
  padding: 0.5em 0;
}
.post ul {
  list-style: initial;
}
.post ol {
  list-style: decimal;
}
.post em {
  color: #c41a16;
}
.post a {
  color: #0C8C83;
}
.post h2 {
  margin-top: 3rem;
}

@media (min-width: 48rem) {
  /* Header
  * ===============================================   */
  .nav {
    border-bottom: none;
    padding-top: 2rem;
    font-size: 0;
  }
  .nav .nav-meta {
    text-align: left;
  }
  .nav .nav-meta__name {
    font-size: 1.5rem;
  }
  .nav .nav-meta__desc {
    display: inline-block;
    margin: 0 0;
    font-size: 0.8rem;
    color: #8B8C83;
  }
  .nav #menu-switcher {
    display: none;
  }
  .nav #menu-checkbox ~ .nav-menu {
    display: block;
  }
  .nav #menu-checkbox:checked ~ .nav-menu {
    display: block;
    border-top: 1px solid #E5E9E5;
  }
  .nav .nav-menu__list {
    width: 100%;
    margin: 1rem 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: left;
    font-size: 1rem;
    background-color: transparent;
    color: #393424;
  }
  .nav .nav-menu__item {
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
  }
  .nav .nav-menu__item:hover {
    background-color: transparent;
    color: #ce8a8a;
  }
  .nav .nav-menu__item.active {
    border-bottom: 2px solid #ce8a8a;
  }
  .nav .nav-menu__item [class^=icofont-] {
    display: none;
  }

  /* Page navigator
  * ===============================================   */
  .breadcrumb {
    margin: 0 auto;
    text-align: center;
    padding-top: 1rem;
  }
  .breadcrumb:after {
    display: block;
    clear: both;
    content: "";
  }
  .breadcrumb .page-number,
.breadcrumb .extend,
.breadcrumb .space {
    display: inline-block;
    min-width: 2rem;
    text-align: center;
    padding: 0.3rem 0.3rem;
    margin: 0 0.25rem;
  }
  .breadcrumb .page-number,
.breadcrumb .extend {
    border: 1px solid #B4B8B2;
    border-bottom: 2px solid #B4B8B2;
  }
  .breadcrumb .page-number.current, .breadcrumb .page-number:hover, .breadcrumb .page-number:active,
.breadcrumb .extend.current,
.breadcrumb .extend:hover,
.breadcrumb .extend:active {
    background-image: linear-gradient(transparent, rgba(57, 52, 36, 0.1) 40%, rgba(57, 52, 36, 0.15));
    border-bottom: 2px solid #ce8a8a;
  }
  .breadcrumb .next {
    float: right;
  }
  .breadcrumb .prev {
    float: left;
  }

  /* Footer
  * ===============================================   */
  .footer {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    padding: 1rem 1rem;
    border-top: 1px solid #E5E9E5;
    text-align: center;
    font-size: 95%;
  }

  /* Posts
  * ===============================================   */ 
  .post-list .post-item {
    background-color: white;
    padding: 2rem 0;
  }
  .post-list .post-item:not(:last-child) {
    border-bottom: 1px solid #E5E9E5;
  }
  .post-list .post-title {
    font-size: 1.5rem;
  }
  .post-list .post-desc {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  .post-list .post-excerpt {
    margin-top: 1rem;
    font-size: 1rem;
  }
  .post-list .post-meta > * {
    display: inline-block;
    margin-right: 1rem;
  }
  .post-list .post-meta__date {
    display: inline-block;
    color: #8B8C83;
  }
  .post-list p {
    margin: 0;
  }

  .post-container {
    margin: 0;
    padding-right: 4rem;
  }

  /* search
  * ===============================================   */ 
  .search-input {
    width: 100%;
    margin: 1rem 0;
  }

  #search-switcher {
    position: absolute;
    right: 1em;
    top: 0;
    cursor: pointer;
    font-size: 1.25em;
  }
  #search-switcher:hover {
    color: #ce8a8a;
  }

  #search-checkbox {
    height: 0px;
    width: 0px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
  }

  #search-container {
    display: block;
    position: absolute;
    height: auto;
    min-height: 100%;
    max-height: min-content;
    top: 0;
    right: 0;
    width: 100%;
    background-color: white;
    z-index: -1;
  }

  #search-checkbox ~ #search-container {
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  #search-checkbox:checked ~ #search-container {
    z-index: 1200;
    overflow-y: auto;
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }

  /** results list 
  * */
  .search-result-title {
    font-size: 1.25rem;
  }

  .search-result {
    color: #B4B8B2;
  }

  .search-keyword {
    color: #ce8a8a;
  }

  /** loading indicator
  * */
  .loading {
    width: 80px;
    height: 30px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
  }
  .loading span {
    display: inline-block;
    width: 4px;
    height: 100%;
    border-radius: 4px;
    vertical-align: middle;
    margin-right: 2px;
    background-color: #ce8a8a;
    animation: load 1s ease infinite;
  }
  .loading span:nth-child(2) {
    animation-delay: 0.2s;
  }
  .loading span:nth-child(3) {
    animation-delay: 0.4s;
  }
  .loading span:nth-child(4) {
    animation-delay: 0.6s;
  }
  .loading span:nth-child(5) {
    animation-delay: 0.8s;
  }

  @keyframes load {
    0%, 100% {
      height: 50%;
      background-color: #ce8a8a;
    }
    50% {
      height: 100%;
      background-color: #393424;
    }
  }
  /* TOC
  * ===============================================   */ 
  .toc-container {
    position: sticky;
    top: 1rem;
    background-color: white;
    z-index: 1000;
  }

  .toc {
    padding-left: 0;
  }

  /* Sidebar
  * ===============================================   */ 
  .sidebar {
    display: block;
    border-left: 1px solid #E5E9E5;
    color: #8B8C83;
    /* categories
    * ===============================================   */ 
    /* tags
    * ===============================================   */ 
    /* supper count
    * ===============================================   */ 
    /* links
    * ===============================================   */
  }
  .sidebar .sidebar-title {
    display: block;
    text-align: left;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid #E5E9E5;
  }
  .sidebar .subtree {
    margin-left: 0;
    padding-left: 0;
  }
  .sidebar .subtree:before {
    content: "";
    display: block;
    width: 0;
    border-left: 1px solid #E5E9E5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -0.75em;
  }
  .sidebar .subtree > .tree-item {
    margin-left: 0;
  }
  .sidebar .subtree > .tree-item:before {
    content: "";
    display: block;
    width: 8px;
    height: 0;
    border-top: 1px solid #E5E9E5;
    position: absolute;
    top: 0;
    left: -0.75em;
  }
  .sidebar a {
    color: inherit;
  }
  .sidebar a:hover {
    color: #ce8a8a;
  }
  .sidebar .tag-list {
    padding-left: 0;
    font-size: 0.9rem;
  }
  .sidebar .tag-list-item {
    display: inline-block;
    margin-right: 0.25rem;
    margin-top: 0.25rem;
    color: #8B8C83;
    background-color: #f7f7f7;
  }
  .sidebar .tag-list-link:hover {
    color: #ce8a8a;
  }
  .sidebar .tag-list-count,
.sidebar .count {
    color: #ce8a8a;
    font-variant-position: super;
  }
  .sidebar .tag-list-count::before,
.sidebar .count::before {
    content: "(";
  }
  .sidebar .tag-list-count::after,
.sidebar .count::after {
    content: ")";
  }
  .sidebar .link-list {
    padding-left: 0px;
    font-size: 0.9rem;
  }
}
@media (min-width: 72rem) {
  /* Sidebar
  * ===============================================   */ 
  .sidebar .subtree {
    margin-left: 0;
    padding-left: 1em;
  }
  .sidebar .subtree:before {
    content: "";
    display: block;
    width: 0;
    border-left: 1px solid #E5E9E5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
  .sidebar .subtree > .tree-item {
    margin-left: 0.5em;
  }
  .sidebar .subtree > .tree-item:before {
    content: "";
    display: block;
    width: 8px;
    height: 0;
    border-top: 1px solid #E5E9E5;
    position: absolute;
    top: 0.75em;
    left: -1.5em;
  }
}